@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-slate-900  text-white scrollbar-thin !scrollbar-track-transparent !scrollbar-thumb-slate-500;
  }
}

@layer components {
  /* Home */
  .Typewriter {
    @apply absolute  left-2/4 top-2/3 mt-10  flex flex w-full -translate-x-2/4  
     -translate-y-2/3 justify-center rounded-md  text-center  font-mono text-sm  font-semibold md:text-lg;
  }

  /* navBar */
  .navLinks {
    @apply cursor-pointer select-none border-b-2 border-transparent font-mono text-lg  font-bold text-emerald-300 transition-all hover:border-emerald-300  hover:text-purple-600;
  }

  /* Image Slider */
  .slider {
    position: relative;
    width: 350px;
    margin: 50px auto;
    perspective: 1000px;
  }
  /* Material UI menu*/
  #basic-button {
    @apply !flex h-16 !items-center !justify-center;
  }
  .menu .MuiPaper-root {
    @apply !absolute !right-0 !top-0 !flex !h-full !items-center !rounded-none !bg-indigo-900/20 !text-white backdrop-blur-sm;
  }
  .menu .MuiMenuItem-root {
    @apply text-fuchsia-900 hover:!bg-indigo-700 hover:text-emerald-300;
  }
  .menu {
    @apply mt-20 h-full  md:hidden;
  }
  /* Project */
  .projectHeaders {
    @apply flex justify-around bg-indigo-900 p-4 text-center text-base text-emerald-300 lg:text-xl;
  }
  .projectIcons {
    @apply h-6 w-6 text-emerald-300 hover:text-fuchsia-900;
  }
  .projectImage {
    @apply rounded-md transition-all ease-in hover:cursor-pointer hover:opacity-100 md:opacity-60;
  }
  .projectBodies {
    @apply mx-auto flex min-h-[24rem]  flex-col justify-center bg-black/90 bg-center p-8
    text-center bg-blend-darken md:max-w-2xl md:bg-black/0 md:text-left;
  }
  .techUsed {
    @apply border border-emerald-300 p-1;
  }
  /* slider */
  .rotator {
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    width: 55%;
    height: 150px;
    transform-style: preserve-3d;
    animation: roter 29s linear infinite;
  }
  .items {
    position: absolute;
    height: 100%;
    width: 100%;
    overflow: hidden;
    border: 2px solid red;
    background: white;
    padding: 20px;
  }

  .items img {
    height: 100%;
    width: 100%;
    transition: all 3s ease;
  }

  @keyframes roter {
    from {
      transform: rotateY(0deg);
    }
    to {
      transform: rotateY(360deg);
    }
  }

  .rotator:hover {
    animation-play-state: paused;
  }

  .items {
    border: white;
  }
  .items:first-child {
    transform: rotateY(calc(40deg)) translateZ(130px);
  }

  .items:nth-child(2) {
    transform: rotateY(calc(80deg)) translateZ(130px);
  }

  .items:nth-child(3) {
    transform: rotateY(calc(120deg)) translateZ(130px);
  }

  .items:nth-child(4) {
    transform: rotateY(calc(160deg)) translateZ(130px);
  }

  .items:nth-child(5) {
    transform: rotateY(calc(200deg)) translateZ(130px);
  }

  .items:nth-child(6) {
    transform: rotateY(calc(240deg)) translateZ(130px);
  }

  .items:nth-child(7) {
    transform: rotateY(calc(280deg)) translateZ(130px);
  }

  .items:nth-child(8) {
    transform: rotateY(calc(320deg)) translateZ(130px);
  }

  .items:nth-child(9) {
    transform: rotateY(calc(360deg)) translateZ(130px);
  }
}
@media (min-width: 1024px) {
  .items {
    border: 2px solid red;
  }
  .items:first-child {
    transform: rotateY(calc(40deg)) translateZ(200px);
  }

  .items:nth-child(2) {
    transform: rotateY(calc(80deg)) translateZ(200px);
  }

  .items:nth-child(3) {
    transform: rotateY(calc(120deg)) translateZ(200px);
  }

  .items:nth-child(4) {
    transform: rotateY(calc(160deg)) translateZ(200px);
  }

  .items:nth-child(5) {
    transform: rotateY(calc(200deg)) translateZ(200px);
  }

  .items:nth-child(6) {
    transform: rotateY(calc(240deg)) translateZ(200px);
  }

  .items:nth-child(7) {
    transform: rotateY(calc(280deg)) translateZ(200px);
  }

  .items:nth-child(8) {
    transform: rotateY(calc(320deg)) translateZ(200px);
  }

  .items:nth-child(9) {
    transform: rotateY(calc(360deg)) translateZ(200px);
  }

  @media (min-width: 1280px) {
    .items:first-child {
      transform: rotateY(calc(40deg)) translateZ(250px);
    }

    .items:nth-child(2) {
      transform: rotateY(calc(80deg)) translateZ(250px);
    }

    .items:nth-child(3) {
      transform: rotateY(calc(120deg)) translateZ(250px);
    }

    .items:nth-child(4) {
      transform: rotateY(calc(160deg)) translateZ(250px);
    }

    .items:nth-child(5) {
      transform: rotateY(calc(200deg)) translateZ(250px);
    }

    .items:nth-child(6) {
      transform: rotateY(calc(240deg)) translateZ(250px);
    }

    .items:nth-child(7) {
      transform: rotateY(calc(280deg)) translateZ(250px);
    }

    .items:nth-child(8) {
      transform: rotateY(calc(320deg)) translateZ(250px);
    }

    .items:nth-child(9) {
      transform: rotateY(calc(360deg)) translateZ(250px);
    }
  }
}
